# name: Node.js CI

# on:
#   push:
#     branches: [ "master" ]
#   pull_request:
#     branches: [ "master" ]
#   workflow_dispatch:

# jobs:
#   amd_job:

#     runs-on: ubuntu-latest

#     strategy:
#       matrix:
#         node-version: [14.x]

#     steps:
#     - uses: actions/checkout@v3
#     - name: Use Node.js ${{ matrix.node-version }}
#       uses: actions/setup-node@v3
#       with:
#         node-version: ${{ matrix.node-version }}
#         cache: 'npm'
#         cache-dependency-path: './Client/package-lock.json'
#     - run: |
#         cd Client
#         npm ci
#         npm run build --if-present
#   power_job:
#     name: Power Job
#     runs-on: ubuntu-20.04-ppc64le
#     steps:
#       - uses: actions/checkout@v3
#       - uses: adilhusain-s/setup-node@main
#         with:
#           node-version: 20
#           cache: 'npm'
#           cache-dependency-path: './Client/package-lock.json'
#       - run: |
#           cd Client
#           npm ci
#           npm run build --if-present
